@media screen and (max-width: 768px) {
  .page {
    margin: 0.5em;
  }
}

/* Check box*/
/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

.account_d a {
  cursor: pointer !important;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #3192e1;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.rme {
  font-size: 13px !important;
  position: relative;
  left: 1em;
  top: -5px;
}
.p-checkbox-label {
  font-size: 13px !important;
  position: relative;
  left: -1.1em;
}

.reset_pwd {
  font-size: 13px;
  font-family: "Cagliostro", sans-serif !important;
}

input,
textarea,
button {
  width: 100%;
}

.password-reset a {
  font-family: "Cagliostro", sans-serif;
}

.account_d {
  font-family: "Cagliostro", sans-serif !important;
}

.login-body {
  /*background-image: url("../../assets/images/icons/fm_2.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
  padding: 20px;
}
.login-body .login-panel {
  width: 550px;
  min-height: 500px;
  background-color: #ffffff;
  /*position: absolute;*/
  margin: 0 auto;
  /*left: 50%;
      top: 50%;
      margin-left: -275px;
      margin-top: -240px;*/
  padding: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2),
    0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2),
    0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 6px 10px 0 rgba(0, 0, 0, 0.14);
}
.login-body .login-panel .login-panel-header {
  background-color: #3192e1;
  text-align: center;
  padding: 4px 10px;
}
.login-body .login-panel .login-panel-header img {
  vertical-align: middle;
  width: 90px;
}
.login-body .login-panel .login-panel-content {
  padding: 50px 100px;
}
.login-body .login-panel .login-panel-content h1 {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
}
.login-body .login-panel .login-panel-content .ui-g-12,
.login-body .login-panel .login-panel-content .ui-g-6 {
  padding: 1em;
}
.login-body .login-panel .login-panel-content .ui-g-12:last-child,
.login-body .login-panel .login-panel-content .ui-g-6:last-child {
  text-align: center;
}
.login-body .login-panel .login-panel-content .ui-g-12:last-child a,
.login-body .login-panel .login-panel-content .ui-g-6:last-child a {
  color: #7cb342;
}
.login-body .login-panel .login-panel-content .password-reset {
  text-align: right;
}
.login-body .login-panel .login-panel-content .password-reset a {
  color: #757575;
}
.login-body .login-panel .login-panel-content .ui-chkbox-label {
  margin: 0 0 0 8px;
  vertical-align: middle;
}

.rem {
  position: relative;
  top: -3px;
  right: 3px;
}

@media (max-width: 640px) {
  .login-body .login-panel {
    left: 0;
    margin-left: 0;
    width: 100%;
  }
  .login-body .login-panel .login-panel-content {
    padding: 10px 5px;
  }
}
