
.main-box{
   background-color:  #62B9F1;
   height:100px;
   width:100%;
   border-radius: 5px;
}
.text-content{
    font-size: 30px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    color: #ffffff;
    padding: 25px;
    position: relative;
    border-radius: 5px;
 }