.header {
}

a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}

.header .card {
  height: 90px;
}

.header .card .header-icon {
  margin-top: 0.7em;
}

.header .card .header-icon img {
  width: 200px;
}

.header .card .float-right {
  float: right;
  margin-top: 1.7em;
}

.hamburg {
  margin-top: -0.9em;
}

.hamburger {
  background-color: transparent;
}

.hamburger:focus,
.hamburger:active {
  outline: none !important;
  box-shadow: none !important;
}

.header .float-right .btn {
  width: 130px;
  border-radius: 15px;
  margin-top: -1.8em;
}
