.home-carousel {
}

.carousel-background {
  background: url("../icons/pbanner.jpg") no-repeat;
  height: 350px;
  width: 100%;
  background-size: cover;
}

.carousel-footer .card {
  background-color: #353e4e;
  padding: 0 30px;
  height: 120px;
}

.carousel-footer .mobile h5 {
  margin: 5% 3%;
  color: #fff;
}

.carousel-footer .desktop h5 {
  margin: 4% 25%;
  color: #fff;
}

.carousel-text {
  margin: 8% auto;
  padding: 0 40px;
}

.carousel-text h2 {
  color: #353e4e;
}

.carousel-text h6 {
  color: #353e4e;
}
