.mobile-nav {
  margin-top: 0.5em;
}

.mobile-nav .colored-divider {
  background-color: #0f75bd;
  width: 5px;
  height: 30px;
  float: right;
}

.mobile-nav h5 {
  color: #212121;
  font-weight: 600;
  margin-top: 0.3em;
}

.mobile-nav .inactive h5 {
  color: #212121;
  font-weight: 200 !important;
  margin-top: 0.3em;
}

.mobile-nav .colored h5 {
  color: #0f75bd;
  font-weight: 600;
  margin-top: 0.3em;
}

.mobile-nav .inactive-colored h5 {
  color: #0f75bd;
  font-weight: 200 !important;
  margin-top: 0.3em;
}
