@font-face {
  font-family: "Cagliostro";
  src: url(./font/Cagliostro.ttf) format("truetype");
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
input,
textarea,
button {
  font-family: "Cagliostro", sans-serif !important;
}

.alert {
  font-family: "Cagliostro", sans-serif !important;
  transition: background-color 3s ease-in, opacity 2s ease-out;
}

::-webkit-input-placeholder {
  /* Edge */
  position: relative;
  left: 0.2em;
  font-size: 16px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  position: relative;
  left: 0.2em;
  font-size: 16px;
}

::placeholder {
  position: relative;
  left: 0.2em;
  font-size: 16px;
}

.footer {
  overflow-x: hidden;
}

.footer_margin {
  margin-top: 20px;
}

.btn {
  background-color: #0f75bd !important;
  font-family: "Cagliostro", sans-serif;
  color: #fff !important;
}

.app {
  margin: 0;
  padding: 0;
  width: 100%;
}

.app .app-modal {
  position: fixed; /* Stay in place */
  z-index: 5;
}

.app .header {
  z-index: 3;
  width: 100%;
  position: fixed;
}

.app .header-sidenav {
  z-index: 2;
  position: fixed;
}

#main {
  transition: margin-top 0.5s;
  padding-top: 90px;
  z-index: 1;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn img {
  float: right;
  width: 14.5px;
  margin-top: 3px;
}

input,
textarea,
button {
  width: 100%;
}

.btn .left_icon {
  float: left !important;
}
.footer p {
  color: #212121;
}
