body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Cagliostro";
  src: url(./font/Cagliostro.ttf) format("truetype");
  font-weight: 300;
}

code {
  font-family: Cagliostro;
}
